.card-thumb {
  position: relative;
  overflow: hidden;
}
.overlay-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay);
  transform: translateY(100%);
  transition: var(--transition-duration) var(--transition-function);
  .portfolio-lists__link:hover &,
  .portfolio-lists__link:focus & {
    transform: translateY(0);
  }
}

.overlay-card__card-text {
  display: block;
  padding: 63px 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;

  letter-spacing: 0.03em;
  color: var(--main-color);
}