.title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--nav-color);
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}